@media (max-width: 1160px) {
	.section-bg {
		height: auto;
	}
	.left-block {
		margin-bottom: 30px;
	}
	.video-wraper {
		justify-content: center;
	}
	.container {
		padding: 0 30px;
	}
	.article-wraper {
		flex-direction: column;
		align-items: center;
	}
	.left-wraper {
		margin-bottom: 30px;
	}
}


/*images flex-direction example*/
/*@media (max-width: 1140px) {
	.image-wraper {
		flex-direction: column;
		align-items: center;
	}
}*/


/*% - examples*/
@media (max-width: 1145px) {
	.block-img {
		width: 48%;
	}
}

@media (max-width: 480px) {
	.block-img {
		width: 100%;
	}
}




/*header responsive*/
@media (max-width: 768px) {
	.navigation,
	.social-icons {
		display: none;
	}
	.burger-icon {
		display: block;
	}
}