.header-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: lightblue;
	padding: 10px;
}
.logo {
	max-width: 200px;
	width: 100%;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin:0 auto;
}
.nav-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.nav-li {
	margin-right: 30px;
}
.nav-a {
	color: #fff;
}
.fa-facebook-f::after {
	content: '';
	width: 2px;
	height: 26px;
	background-color: #3D58A6;
	display: inline-block;
	margin: 0 15px;
}
.fa-facebook-f {
	font-size: 30px;
	color: blue;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.google-icon {
	font-size: 30px;
	color: red;
}
.fa-facebook-f:hover {
	color: green;
}
.social-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.burger {
	font-size: 30px;
	color: #fff;
}
.burger-icon {
	display: none;
}
/*section styles*/
.section-bg {
	background-color: #363E97; 
	height: 500px;
}
.left-block,
.right-block {
	max-width: 570px;
	width: 100%;
	height: 320px;
}
.video-iframe {
	width: 100%;
	height: 100%;
	border-width: 0px;
}
.video-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

/*section#2 style*/
.section2-bg {
	background-color: #BDCCD4;
}
.image-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.block-img {
	width: 270px;
}
.img-block {
	width: 100%;
}

/*section#3*/
.section3-bg {
	background-color: #E6E6E6;
}
.article-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	/*flex-wrap: wrap;*/
}
.left-wraper {
	max-width: 570px;
	width: 100%;
	background-color: red;
}
.right-wraper {
	max-width: 570px;
	width: 100%;
	background-color: yellow;
}
.article-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.text-article {
	max-width: 355px;
	width: 100%;
}